.App {
  text-align: center;
  font-family: "yangjin";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

